<section class="home">
  <app-loading [show]="isLoading" msg="Fetching games..."></app-loading>
  <div class="game-card" *ngFor="let game of games">
    <a [routerLink]="['/game', game.id]">
      <img
        src="{{ game.background_image }}"
        alt="{{ game.name }}"
        class="game-card__image"
      />
      <div class="game-card__content">
        <h4>{{ game.name }}</h4>
        <p>{{ game.released }}</p>
      </div>
      <div class="game-card__platforms">
        <span class="platform" *ngFor="let platform of game.parent_platforms">
          {{ platform.platform.name }}
        </span>
      </div>
    </a>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalGames"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
  ></mat-paginator>
</section>
